
.fgpe-code-editor-popup {
    .vs-popup--content {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .editor {
        /* display: flex; */
        width: auto;
        height: 100%;

        /* .monaco-editor {
            width: 100% !important;
            height: 100% !important;
        } */
    }
}
