
.vx-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    & > .vx-col {
        padding: 0 1rem;
    }

    &.match-height > .vx-col {
        display: flex;
    }

    &.no-gutter {
        margin: 0;

        & > .vx-col {
            padding: 0;
        }
    }
}

.blur-1 {
    filter: blur(1px);
}
.blur-2 {
    filter: blur(2px);
}
.blur-3 {
    filter: blur(3px);
}

.sidebar-spacer {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.background-absolute {
  .vs-sidebar--background {
    position: absolute;
  }
}

.sidebar-spacer-with-margin {
    width: calc(100% - 260px - 2.2rem);
    margin-left: calc(260px + 2.2rem);
}

.sidebar-spacer--wide {
    width: calc(100% - 400px);
    margin-left: 400px;
}

.full-vs-sidebar {
    .vs-sidebar {
        max-width: calc(100% - 260px);
        margin-left: 260px;
    }
}

@media only screen and (max-width: 992px) {
    .full-vs-sidebar {
        .vs-sidebar {
            max-width: 100%;
            margin-left: 0;
        }
    }
}

.vs-input-shadow-drop {
    input {
        box-shadow: 0 2px 8px 0 rgba(0,0,0, 0.14);
    }
}

// vs-input
.vs-input-no-border {
    .vs-input--input {
        border: none !important;

        &:focus {
            border: none !important;
        }
    }
}

.vs-input-no-shdow-focus {
    .vs-input--input {
        &:focus {
            box-shadow: none !important;
        }
    }
}


// vs-select
.vs-select-no-border {
    .vs-select--input {
        border: none !important;
    }
}



//////////////////////////////////////////////////////////////////////////
// OTHER
//////////////////////////////////////////////////////////////////////////

.responsive {
    width: 100%;
    height: auto;
}

ul.bordered-items {
    & > li:not(:last-of-type):not([class*='shadow']) {
        border-bottom: 1px solid $grey-light;
    }
}

.fgpe-label {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, .4);
    padding-left: 0.5rem;
}

// DROPDOWN
// Remove padding and border from default dropdown - Used in TheNavbar
.dropdown-custom {
    .vs-dropdown--custom {
            padding: 0 !important;
            border: 0;
            overflow: hidden;
            border-radius: .5rem;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08) !important;
            // @apply shadow-lg;
    }
    .vs-dropdown--menu--after {
        background: rgba(var(--vs-primary), 1) !important;
        right: 1.6rem !important;
    }
}


//////////////////////////////////////////////////////////////////////////
// UNIVERSAL CLASSES FOR LIGHT & DARK THEME
//////////////////////////////////////////////////////////////////////////

.d-theme-dark-bg {
     background-color: $white;
}

.theme-dark {
    .d-theme-dark-bg {
        background-color: $theme-dark-bg;
    }

    .d-theme-input-dark-bg {
        input {
            background-color: $theme-dark-bg;
        }
    }

    .d-theme-heading-color{
        color: $theme-dark-heading-color;
    }
    .d-theme-text-inverse{
        color: $content-color;
    }
}
